body{
    background-color: rgb(219, 165, 165);
}
.room1{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid;
    position: relative;
}
.room2{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid;
    position: relative;
}
.room3{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid;
    position: relative;
}
